
$headerHeight:60px;
    
$black: #000;
$white: #fff;

$sunset: #db5549;
$red: #d60200;
$brick: #ba0200;
$burgundy: #8d021f;

$beige: #ffd2ad;
$beige: #fff1e6;

$pink: #e54ed0;

$ltblue:#71c8f0;

$quartz:#C9C2F7;

$highlight: #ff1769;