/* -- DESCRIPTION -- */
#description {
    width: 90%;
    min-width: 200px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: left;
    font-size: calc(16px + 1.35vw);
}

/*
#logo { 
    // background-color:#0f0;
    text-align: center;
    float: left;
    width: 15%;
    // max-width: 150px;
}
#logo img {
    width: 100%;  
}
#description_inner {
    margin-left: 16%;
    padding-left: 3%;
    // background-color:#00f;
}
*/

/* -- SPLASH -- */
#splash {
    background-color:#ddd;
    padding: 2%;
}

.splash_section {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    width: 98%;
    max-width: 1000px;
    overflow: hidden;
}

.splash_title {
    font-size: calc(20px + 0.75vw);
    font-weight: bold;
    color: #111;
    margin-top: 2%;
    margin-bottom: 2%;
    min-width: 300px;
}

.splash_description {
    font-size: calc(16px + 0.6vw);
    color: #222;
    margin-bottom: 5%;
    min-width: 300px;
}

.splash_image {
    width: 100%;
    max-width: 500px;
    margin: 1%;
    // margin-bottom: 3%;
    padding-bottom: 5%;
    vertical-align: middle;
}

.splash_image.right {
    float: right;
    margin-left: 3%;
}

.splash_image.left {
    float: left;
    margin-right: 3%;
}


/* -- STUDY GROUPS -- */
.courses_outer {
    width: 98%;
    background-color: #ffe9ab;
    // padding: 3%;
}

.courses_inner {
    text-align: center;
    width: 97%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    padding: 5px;
}

.course {
    background-color: #fff;
    text-align: center;
    min-width: 160px;
    width: 22%;
    max-width: 250px;    
    display: inline-block;
    margin: 5px;
    margin-bottom: 25px;
    padding: 2px;
    border: solid 1px #aaa;
}

.course_icon img, .course_icon video {
    width: 100%;
}

.course_description {
    // background-color: #0f0;
    text-align: center;
    font-size:1.25em;
}
    

/* -- ACTIVITIES -- */
#activities_outer {
    width: 98%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

#activities {
    position: relative;
    text-align: center;
    width: 96%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 5vw;
    padding: 0px;
    margin-top:30px;
    margin-bottom:30px;
}

.section_title {
    //font-size: calc(14px + 1.25vw);
    font-size: calc(20px + 0.75vw);
    font-weight: bold;
    margin: 3%;
    text-align: left;
}

.section_description {
    //font-size: calc(10px + 1.15vw);
    font-size: calc(16px + 0.6vw);
    margin: 3%;
    text-align: left;
}

.gallery_link {
    position: absolute;
    padding: 0px;
    margin: 0px;
}

.gallery_link a:link, .gallery_link a:visited { 
    text-decoration: none;
    color: #000;
}

.gallery_link:hover, .gallery_link a:hover {
    background-color: #00f;
    color: #fff;
    text-decoration: none;
}

#Brahman:hover, #Brahman a:hover {
    background-color: #b00;
    color: #fff;
    text-decoration: none;
}


/* -- FUTURE -- */
#future {
    position: relative;
    text-align: center;
    width: 100%;
    text-align: center;
    // overflow: hidden;
    // font-size: 2.5vw;
}
#future_inner {
    transform: scale(1.0);
    transform-origin: 95% 42%;
    max-height: 1200px;
}

#future_description {
    position: absolute;
    width: 95%;
    max-width: 1100px;
    left: 50%;
    top: 3%;
}
#future_description2 {
    position: relative; 
    left: -50%;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2%;
}
#future_teaser {
    // font-size: 1.5em;
    font-size: calc(13px + 1.2vw);
    font-weight: bold;
    // text-shadow: 2px 2px #333;
    padding: 1%;
}

#future_info {
    // line-height: 20%;
}
#future_info1 {
    // font-size: 1.3em;
    font-size: calc(11px + 1.1vw);
    padding: 1%;
}
#future_info2 {
    // font-size: 1.1em;
    font-size: calc(10px + 1.0vw);
    padding: 1%
}



/* -- JOIN -- */
#join {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 2vw;
    text-align: center;
    overflow:hidden;
}
#join_inner {
    transform: scale(1.0);
    transform-origin: 95% 42%;
}

#join_signup {
    position: absolute;
    // width: 200px;
    left: 42%;
    top: 4%;
    font-size: 5vw;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
}

#euc1, #euc2, #euc3, #euc4, #euc5, #euc6, #euc7, #euc8, #euc9 {
    position:absolute;
    top:39%;
    height:33%;
    left:70%;
}
// #euc1 {left:70%; top:33%; display: none;}
// #euc2 {left:78%; top:34%; display: none;}
// #euc3 {left:86%; top:35%; display: none;}
// #euc4 {left:94%; top:36%; display: none;}
// #euc5 {left:2%; top:37%;display: none;}
// #euc6 {left:10%; top:38%;display: none;}
// #euc7 {left:18%; top:39%;display: none;}
// #euc8 {left:26%; top:40%;display: none;}
// #euc9 {left:10%; top:54%; height:20%;display: none;}
#euc1 {left:70%; top:33%; display: none;}
#euc2 {left:78%; top:34%; display: none;}
#euc3 {left:86%; top:35%; display: none;}
#euc4 {left:94%; top:36%; display: none;}
#euc5 {left:2%; top:37%; display: none;}
#euc6 {left:10%; top:38%; display: none;}
#euc7 {left:18%; top:39%; display: none;}
#euc8 {left:26%; top:40%; display: none;}
#euc9 {left:10%; top:54%; height:20%; display: none;}

/* -- ABRAHAM -- */
.path {
    position: absolute;
    right: 15%;
    top: 4%;
    margin: auto;
}
.shape {
    position: absolute;
    display: block;
    x-transition: all 3.45s ease-in-out;
    animation: ani 3.45s infinite;
}
.path img {
    width:calc(24px + 5.0vw);
}

.abelogo:hover {
    cursor: pointer;
}
            
@keyframes ani {
    0% {
        top: 0;
    }
    50% {
        top: calc(5px + 2.0vw); 
    }
    100% {
        top: 0;
    }
}