
body {
    margin: 0;	
    font-family:'Geneva', sans-serif; 
}

#header {
    position: relative;
    overflow: hidden;
}

#header_tagline {
    position: absolute;
    top: 8%;
    left: 2%;
    font-size: calc(7px + 1.7vw);
    font-weight: bold;
    line-height: 1.75;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1%;
}

#header_inner {
    transform: scale(1.0);
    transform-origin: 15% 60%;
}


#about {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 2vw;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

#description {
    width: 90%;
    min-width: 200px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: left;
    font-size: calc(16px + 1.35vw);
}

#activities {
    margin-top:30px;
    margin-bottom:30px;
    text-align: center;
}

.vennhexagram {
    max-width:800px;
    width:80%;

}

#footer {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 2vw;
    text-align: center;
    overflow:hidden;
}
#footer_inner {
    transform: scale(1.0);
    transform-origin: 95% 42%;
}

#footer_signup {
    position: absolute;
    // width: 200px;
    left: 42%;
    top: 4%;
    font-size: 5vw;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
}



#activities_outer {
    width: 98%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

#activities {
    position: relative;
    text-align: center;
    width: 96%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 5vw;
    padding: 0px;
}

.section_title {
    font-size: calc(14px + 1.25vw);
    font-weight: bold;
    margin: 3%;
    text-align: left;
}
.section_description {
    font-size: calc(10px + 1.15vw);
    margin: 3%;
    text-align: left;
}




#things {
    margin-top:100px;
    margin-bottom:100px;
    padding-top:70px;
    padding-bottom:70px;
    background-color:#ffebcc;
}
.pagelink {
    display: inline-block;
    /* width:28%; */
    /* min-width: 28%; */
    width: 80%;
    max-width: 400px;

    padding:2px;
    margin:7px;
    margin-bottom:50px;
}



#euc1, #euc2, #euc3, #euc4, #euc5, #euc6, #euc7, #euc8, #euc9 {
    position:absolute;
    top:39%;
    height:33%;
    left:70%;
}
#euc1 {left:70%; top:33%;}
#euc2 {left:78%; top:34%;}
#euc3 {left:86%; top:35%;}
#euc4 {left:94%; top:36%;}
#euc5 {left:2%; top:37%;}
#euc6 {left:10%; top:38%;}
#euc7 {left:18%; top:39%;}
#euc8 {left:26%; top:40%;}
#euc9 {left:10%; top:54%; height:20%;}

















.gallery_link {
    position: absolute;
    padding: 0px;
    margin: 0px;
}
.gallery_link a:link, .gallery_link a:visited { 
    text-decoration: none;
    color: #000;
}
.gallery_link:hover, .gallery_link a:hover {
    background-color: #00f;
    color: #fff;
}
#Brahman:hover, #Brahman a:hover {
    background-color: #b00;
    color: #fff;
}