#splash {
    background-color:#ddd;
    padding: 2%;
}
.splash_section {
    // background-color: #f0f;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    width: 98%;
    max-width: 1000px;
    overflow: hidden;
}
.splash_title {
    font-size: calc(14px + 0.95vw);
    font-weight: bold;
    color: #111;
    margin-top: 2%;
    margin-bottom: 2%;
    min-width: 300px;
}
.splash_description {
    font-size: calc(11px + 0.9vw);
    color: #222;
    margin-bottom: 5%;
    min-width: 300px;
}
.splash_image{
    width: 100%;
    max-width: 500px;
    margin: 1%;
    margin-bottom: 3%;
}
.splash_image.right {
    float: right;
    margin-left: 3%;
}
.splash_image.left {
    float: left;
    margin-right: 3%;
}



// .insert_inner {
//     display: inline-block;
//     // width: 45%;
//     min-width: 380px;
//     text-align: left;
//     /* padding:10px; */
//     vertical-align: middle;
//     /* padding:200px; */
// }
// .insert_description {
//     text-align: left;
//     // background-color:#0ff;
// }
// .insert_image {
//     // background-color:#ff0;
//     text-align: center;
//     float: right;
// }
// .insert_inner img {
//     float: right;
// }
// .insert_image img {
//     // width: 75%;
//     width:200px;
// }

    
    
    




.courses_outer {
    width: 100%;
    background-color: #ffe9ab;
    // padding: 3%;
}
.courses_inner {
    text-align: center;
    width: 95%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    padding: 1%;
}
.course {
    background-color: #fff;
    text-align:center;
    min-width: 150px;
    width: 22%;
    max-width: 320px;    
    display: inline-block;
    margin: 6px;
    margin-bottom: 25px;
    padding: 4px;
    border: solid 1px #aaa;
}
.course_icon {
    // background-color: #f00;
}
.course_icon img {
    width: 99%;
}
.course_description {
    // background-color: #0f0;
    text-align: center;
    font-size:1.25em;
}
    
